<p id="message" style="text-align: center; font-weight:bold;" class="text-danger">{{message}}</p>

<h2 style="text-align: center">Welcome to Spirited Whisky Search.</h2>
<h3 ng-show="!busy" style="text-align: center">Let's find your new favorite Whisky!</h3>

<br/>

<h3 id="busy" ng-show="busy" style="text-align: center" class="text-info">Initializing. Please wait...</h3>

<div ng-show="!busy" id="selFavStores" class="align-items-center">
    <div style="text-align:center">
        <button ng-class="preferences && favStores.length ? 'btn btn-outline-info' : 'btn btn-primary'" type="button" data-toggle="collapse" data-target="#favStores"
                aria-expanded="false"
                aria-controls="favStores">
            Select your preferred NB Liquor stores
        </button>
    </div>
    <div id="favStores" class="panel-collapse collapse in card card-body col-lg-6 mx-auto">
        <div class="text-center">
            <button class="btn btn-outline-info" ng-click="captureUserLocation()">
                <span ng-show="!busyLoc">Find nearby stores</span>
                <span ng-show="busyLoc">Looking around...</span>
            </button>
        </div>
        <div class="row">
            <ul class="col-6" ng-repeat="(city, stores) in allStores | orderBy:'city' | groupBy: 'city'">
                <b>{{city}}</b>
                <li ng-repeat="s in stores">
                    <input type="checkbox"
                           name="selectedStores"
                           value="{{s.address}}"
                           ng-checked="favStores.indexOf(s) >= 0"
                           ng-click="toggleStoreSelection(s)"
                    >
                    {{s.address}}
                </li>
                <span ng-hide="allStores.length > 0">--- no data ---</span>
            </ul>
        </div>
    </div>
    <div ng-if="preferences && favStores.length" class="card card-body col-lg-6 mx-auto" style="text-align: center">
        <span>{{favStores.length}} store(s) selected in <span ng-bind-html="favStoresCities"></span>, only their inventory will
            be shown.</span>
    </div>
    <div ng-if="preferences && !favStores.length" style="text-align: center">
        No stores selected, all available inventory will be shown.
    </div>
</div>

<br/>

<div ng-show="!busy" id="selFavWhisky" class="align-items-center">
    <h3 style="text-align: center;">
        Select Whisky you know you like:</h3>
    <h4 style="text-align: center;"><input type="text" class="col-lg-6" ng-model="favWhiskyName"
                                           ng-model-options="{debounce: 1000}"
                                           ng-change="onFavWhiskyNameChange(favWhiskyName)"
                                           placeholder="start typing the name..."/>
    </h4>
    <div class="card card-body col-lg-6 mx-auto" ng-if="favWhiskyName.length >= 4 && !favWhisky">
        <div class="list-group align-items-center">
            <span ng-show="busyC">Looking...</span>
            <a href="" ng-click="selectFavWhisky(w)" class="list-group-item" style="width: 100%" ng-repeat="w in allWhiskies">
                <whisky-row whisky="w" sel-whisky="favWhisky"></whisky-row>
            </a>
            <span ng-show="allWhiskies.length >= 10">...</span>
            <h4 style="text-align: center" ng-show="!busyC && !allWhiskies.length">--- no matches ---</h4>
        </div>
    </div>
</div>

<div ng-show="!busy" id="favWhiskyInfo" class="align-items-center" ng-if="favWhisky">
    <div class="card card-body col-lg-6 mx-auto">
        <div class="list-group align-items-center">
            <a href="" ng-click="showWhisky(favWhisky)" class="list-group-item list-group-item-info" style="width: 100%">
                <whisky-row whisky="favWhisky"></whisky-row>
                <span ng-show="favWhisky.available" class="text-info"> - available</span>
            </a>
        </div>
        <p>{{favWhisky.description}}</p>
        <div id="barDiv">
            <canvas ng-if="favWhisky.flavorProfile" id="bar" class="chart chart-bar"
                    ng-style="fpStyle"
                    chart-options="fpOptions" chart-colors="fpColors" chart-data="fpData" chart-labels="fpLabels">
            </canvas>
        </div>
        <!--<h4 ng-if="!busyW && !favWhisky.flavorProfile">Sorry, we do not have Flavor Profile for this Whisky yet. :-(</h4>-->
        <h4 ng-if="busyW">Loading...</h4>
    </div>
</div>

<div ng-show="!busy" id="similarWhiskies" class="align-items-center">
    <h3 style="text-align: center" ng-show="similarWhiskies.length && favWhisky">
        You may also like:
    </h3>
    <div class="col-lg-6 mx-auto" ng-if="similarWhiskies.length && favWhisky">
        <span style="text-align: right">Sorted: <i>most similar first</i></span>
        <div class="list-group align-items-center">
            <a href="" ng-click="showWhisky(wd.candidate)" ng-class="wd.candidate.id == selectedWhisky.id ? 'list-group-item list-group-item-info' : 'list-group-item'" style="width: 100%" ng-repeat="wd in similarWhiskies | limitTo: dispQuantity">
                <div class="d-flex justify-content-between">
                <span class="justify-content-start"><whisky-row whisky="wd.candidate" sel-whisky="selWhisky"></whisky-row> <span ng-show="wd.available" class="text-info"> - available</span></span>
                <span class="justify-content-end"> - <b><i>{{wd.maxDiffFlavor}}</i></b></span>
                </div>
            </a>
        </div>
        <button class="btn btn-outline-info" style="width: 100%" type="button"
                ng-show="dispQuantity < similarWhiskies.length" ng-click="showMoreCandidates()">Show more...
        </button>
    </div>
    <!--<h4 style="text-align: center" ng-if="!similarWhiskies.length && favWhisky">Nothing tastes similar :-(</h4>-->
</div>

<!-- Modal -->
<div class="modal fade" id="selectedWhiskyModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="selectedWhiskyModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span><h5 class="modal-title" id="title">{{selectedWhisky.name}}</h5>
                    <h6 class="modal-title" id="subTitle">{{selectedWhisky.type}}, {{selectedWhisky.region ? (selectedWhisky.region + ', ') : ''}} {{selectedWhisky.country}}</h6></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h6 class="col-6">{{selectedWhisky.flavorProfile.caskType ? ('Cask: ' +
                        selectedWhisky.flavorProfile.caskType) : ''}}</h6>
                    <h6 class="col-6"><span class="float-right">{{selectedWhisky.alcoholContent ? ('ABV: ' +
                        selectedWhisky.alcoholContent.toFixed(1)) : ''}}</span></h6>
                </div>
                <div class="row">
                    <table border="0">
                        <tr>
                            <td valign="top">
                                <a ng-if="selectedWhisky.thumbnailUrl" href="{{selectedWhisky.thumbnailUrl}}"
                                   data-toggle="lightbox" data-title="{{selectedWhisky.name}}" data-width="400"
                                   data-height="600">
                                    <img class="img-fluid" style="max-width: 200px; max-height: 300px;"
                                         ng-src="{{selectedWhisky.thumbnailUrl}}">
                                </a>
                                <p class="text-center lead" ng-show="selectedWhisky.unitVolumeMl">
                                    <span ng-if="selectedWhisky.qtyPerContainer > 1">{{selectedWhisky.qtyPerContainer}}X</span>
                                    {{selectedWhisky.unitVolumeMl}} ml</p>
                                <p class="text-center lead" ng-show="selectedWhisky.unitPrice"><strong>{{selectedWhisky.unitPrice
                                    | currency}}</strong></p>
                            </td>
                            <td valign="top">
                                {{selectedWhisky.description}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div id="chartDiv" class="col-12 align-items-center mx-auto">
                        <canvas ng-if="!busySW && selectedWhisky.flavorProfile && selectedWhisky.id !== favWhisky.id && selFpData" id="selBar"
                                class="chart chart-bar"
                                ng-style="selFpStyle"
                                chart-options="selFpOptions" chart-colors="selFpColors" chart-data="selFpData"
                                chart-labels="selFpLabels" chart-series="selFpSeries">
                        </canvas>
                        <canvas ng-if="!busySW && selectedWhisky.flavorProfile && selectedWhisky.id === favWhisky.id && fpData" id="favBar"
                                class="chart chart-bar"
                                ng-style="selFpStyle"
                                chart-options="fpOptions" chart-colors="fpColors" chart-data="fpData"
                                chart-labels="fpLabels">
                        </canvas>
                        <!--<h4 ng-if="!busySW && !selectedWhisky.flavorProfile">Sorry, we do not have Flavor Profile for this Whisky yet. :-(</h4>-->
                        <h4 ng-if="busySW">Loading...</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 align-items-center mx-auto">
                        <div ng-show="!busySW && selectedAvailableQty.length">
                            <h5 class="text-center">Available at:</h5>
                            <table width="100%" border="0" ng-if="selectedAvailableQty.length">
                                <thead>
                                <tr>
                                    <th>Store</th>
                                    <th>Address</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="wq in selectedAvailableQty | orderBy:'name'">
                                    <td style="border-top: 1px solid #cdd0d4;">{{wq.name}}</td>
                                    <td style="border-top: 1px solid #cdd0d4;"><address-link address="{{wq.address}}, {{wq.city}}"></address-link></td>
                                    <td style="border-top: 1px solid #cdd0d4;" align="center">{{wq.quantity}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <h5 class="text-center" ng-show="!busySW && !selectedAvailableQty.length">Not available in selected store(s) :-(</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<br/>

<div ng-show="!busy" class="navbar navbar-default navbar-fixed-bottom">
    <table border="0" width="100%">
        <tr>
            <td ng-show="cacheStatus" align="left">
                <div class="d-none d-lg-block d-xl-block">
                    Last updated at {{cacheStatus.cacheLastUpdatedMs | date:'yyyy/MM/dd hh:mm:ss'}}
                    <span ng-show="cacheStatus.country"> <br> Found {{cacheStatus.country}} Spirits</span>
                </div>
            </td>
            <td>
                <p>Scan this <img class="qr-code" src="img/qrcode.png"> to get the Spirited App</p>
            </td>
            <td align="right">
                <button class="btn btn-sm" type="button" ng-click="clearPrefs()">
                    Start Over
                </button>
            </td>
        </tr>
    </table>
</div>

