<!--<h2 style="text-align: center" class="contrast">Welcome To Spirit Search.</h2>-->
<h2 style="text-align: center"><img src="img/top_logo.png" border="0" alt="Spirit Search"></h2>
<h5 ng-show="!busy" style="text-align: center" class="contrast">The Maritimes Liquor Database.</h5>
<h3 id="busy" ng-show="busy" style="text-align: center" class="text-warning contrast">Initializing. Please wait...</h3>

<div class="card text-white bg-danger col-lg-10 mx-auto" ng-show="message"><p id="message" style="text-align: center; font-weight:bold;">{{message}}</p></div>

<br/>

<div ng-show="!busy && !message" id="selFavWhisky" class="align-items-center">
    <div class="card card-body col-lg-6 mx-auto">
        <!--<h3 style="text-align: center;">Find your spirit:</h3>-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="byname-tab" data-toggle="tab" data-target="#byname" href="" role="tab"
                   aria-controls="byname" aria-selected="true">Search by Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="bytype-tab" data-toggle="tab" data-target="#bytype" href="" role="tab"
                   aria-controls="bytype" aria-selected="false">Search by Type</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="latest-tab" data-toggle="tab" data-target="#latest" href="" role="tab"
                   aria-controls="latest" aria-selected="false">Latest Additions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="discounted-tab" data-toggle="tab" data-target="#discounted" href="" role="tab"
                   aria-controls="discounted" aria-selected="false">Hot Deals</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="byname" role="tabpanel" aria-labelledby="byname-tab">
                <div class="card-header input-group mb-3">
                    <input style="font-size: x-large; font-weight: bolder" id="spiritNameCtrl" type="search" class="form-control" aria-label="spirit name" aria-describedby="basic-addon2"
                           ng-model="favWhiskyName"
                           ng-model-options="{debounce: 800}"
                           ng-change="onFavWhiskyNameChange(favWhiskyName)"
                           placeholder="liquor name..."
                           autofocus/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"
                                ng-click="onFavWhiskyNameChange(favWhiskyName, true)">
                            >
                        </button>
                    </div>
                </div>
                <div class="card" style="border: 0">
                    <button ng-show="favWhiskyName && (busyC || allWhiskies.whiskies.length)" id="searchViewBtn"
                            class="btn btn-outline-dark slim collapsed"
                            type="button" data-toggle="collapse" data-target="#searchView"
                            aria-expanded="false"
                            aria-controls="searchView">
                        <span class="text-left"><span class="if-collapsed">Show</span><span class="if-not-collapsed">Hide</span> search results</span>
                    </button>
                    <div ng-show="favWhiskyName" id="searchView" class="list-group align-items-center collapse">
                        <a href="" ng-click="selectFavWhisky(w)" class="list-group-item" style="width: 100%"
                           ng-repeat="w in allWhiskies.whiskies">
                            <whisky-row whisky="w" sel-whisky="favWhisky"></whisky-row>
                        </a>
                        <h6 ng-show="busyC">Looking...</h6>
                        <button ng-disabled="busyC" class="btn btn-outline-info more-btn" style="width: 100%"
                                type="button"
                                ng-show="allWhiskies.whiskies.length < allWhiskies.totalResults"
                                ng-click="showMoreWhiskies()">({{allWhiskies.whiskies.length}} out of
                            {{allWhiskies.totalResults}}) Show more...
                        </button>
                        <h4 style="text-align: center" ng-show="!busyC && !allWhiskies.whiskies.length">--- no matches ---</h4>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bytype" role="tabpanel" aria-labelledby="bytype-tab">
                <div class="card-header input-group mb-3">
                    <input style="font-size: x-large; font-weight: bolder" id="spiritTypeCtrl" type="search" class="form-control" aria-label="spirit type" aria-describedby="basic-addon2"
                           ng-model="favWhiskyType"
                           ng-model-options="{debounce: 800}"
                           ng-change="onFavTypeChange(favWhiskyType)"
                           placeholder="liquor type or feature..."
                           autofocus/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"
                                ng-click="onFavTypeChange(favWhiskyType)">
                            >
                        </button>
                    </div>
                </div>
                <div class="card" style="border: 0">
                    <button ng-show="favWhiskyType && (busyC || browseWhiskies.whiskies.length)" id="browseViewBtn"
                            class="btn btn-outline-dark slim collapsed" type="button" data-toggle="collapse"
                            data-target="#browseView"
                            aria-expanded="false"
                            aria-controls="browseView">
                        <span class="text-left"><span class="if-collapsed">Show</span><span class="if-not-collapsed">Hide</span> search results</span>
                    </button>
                    <div ng-show="favWhiskyType" id="browseView" class="list-group align-items-center collapse">
                        <div ng-show="busyC || browseWhiskies.whiskies.length" style="width: 100%" class="text-right">
                            <sort-by sort-by="browseWhiskies.sortBy" on-sort="onSortBy(sortBy)"></sort-by>
                        </div>
                        <a href="" ng-click="selectFavWhisky(w)" class="list-group-item" style="width: 100%"
                           ng-repeat="w in browseWhiskies.whiskies">
                            <whisky-row whisky="w" sel-whisky="favWhisky" to-show="volume,price,type"></whisky-row>
                        </a>
                        <h6 ng-show="busyC">Looking...</h6>
                        <button ng-disabled="busyC" class="btn btn-outline-info more-btn" style="width: 100%"
                                type="button"
                                ng-show="browseWhiskies.whiskies.length < browseWhiskies.totalResults"
                                ng-click="browseMoreWhiskies()">({{browseWhiskies.whiskies.length}} out of
                            {{browseWhiskies.totalResults}}) Show more...
                        </button>
                        <h4 style="text-align: center" ng-show="!busyC && !browseWhiskies.whiskies.length">--- no matches ---</h4>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="latest" role="tabpanel" aria-labelledby="latest-tab">
                <div class="card-header align-items-center text-center" style="border: 0">
                    <h6>New products appeared
                        <button type="button"
                                ng-class="latestWhiskies.last === 'week' ? 'btn btn-dark slim' : 'btn btn-outline-dark slim'"
                                ng-click="onLatestChange('week')">
                            last week
                        </button>
                        /
                        <button type="button"
                                ng-class="latestWhiskies.last === 'month' ? 'btn btn-dark slim' : 'btn btn-outline-dark slim'"
                                ng-click="onLatestChange('month')">
                            last month
                        </button>
                         in selected stores</h6>
                </div>
                <div class="card" style="border: 0">
                    <button ng-show="latestWhiskies.last && (busyC || latestWhiskies.whiskies.length)" id="latestViewBtn"
                            class="btn btn-outline-dark slim collapsed" type="button" data-toggle="collapse"
                            data-target="#latestView"
                            aria-expanded="false"
                            aria-controls="latestView">
                        <span class="text-left"><span class="if-collapsed">Show</span><span class="if-not-collapsed">Hide</span> search results</span>
                    </button>
                    <div ng-show="latestWhiskies.last" id="latestView" class="collapse">
                        <div ng-show="busyC || latestWhiskies.whiskies.length" style="width: 100%" class="text-right">
                            <sort-by sort-by="latestWhiskies.sortBy" on-sort="onLatestSortBy(sortBy)"></sort-by>
                        </div>
                        <ul class="list-unstyled row">
                            <whisky-row
                                    style="padding: 5px 15px 5px 15px"
                                    ng-repeat="w in latestWhiskies.whiskies"
                                    class="col-lg-6"
                                    ng-class="favWhisky.id === w.id ? 'list-group-item list-group-item-info' : 'list-group-item'"
                                    whisky="w" sel-whisky="favWhisky"
                                    on-click="selectFavWhisky(w)"
                                    to-show="volume,price,type"
                                    large="true">
                            </whisky-row>
                        </ul>
                        <h6 ng-show="busyC">Looking...</h6>
                        <button ng-disabled="busyC" class="btn btn-outline-info more-btn" style="width: 100%"
                                type="button"
                                ng-show="latestWhiskies.whiskies.length < latestWhiskies.totalResults"
                                ng-click="latestMoreWhiskies()">({{latestWhiskies.whiskies.length}} out of
                            {{latestWhiskies.totalResults}}) Show more...
                        </button>
                        <h4 style="text-align: center" ng-show="!busyC && !latestWhiskies.whiskies.length">--- nothing here ---</h4>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="discounted" role="tabpanel" aria-labelledby="discounted-tab">
                <div class="card-header align-items-center text-center" style="border: 0">
                    <h6>Currently On Sale in selected stores</h6>
                </div>
                <div class="card" style="border: 0">
                    <button ng-show="discountedWhiskies.onSale && (busyC || discountedWhiskies.whiskies.length)" id="discountedViewBtn"
                            class="btn btn-outline-dark slim collapsed" type="button" data-toggle="collapse"
                            data-target="#discountedView"
                            aria-expanded="false"
                            aria-controls="discountedView">
                        <span class="text-left"><span class="if-collapsed">Show</span><span class="if-not-collapsed">Hide</span> search results</span>
                    </button>
                    <div ng-show="discountedWhiskies.onSale" id="discountedView" class="collapse">
                        <ul class="list-unstyled row">
                            <whisky-row
                                    style="padding: 5px 15px 5px 15px"
                                    ng-repeat="w in discountedWhiskies.whiskies"
                                    class="col-lg-6"
                                    ng-class="favWhisky.id === w.id ? 'list-group-item list-group-item-info' : 'list-group-item'"
                                    whisky="w" sel-whisky="favWhisky"
                                    on-click="selectFavWhisky(w)"
                                    to-show="volume,price,type"
                                    large="true">
                            </whisky-row>
                        </ul>
                        <h6 ng-show="busyC">Looking...</h6>
                        <button ng-disabled="busyC" class="btn btn-outline-info more-btn" style="width: 100%"
                                type="button"
                                ng-show="discountedWhiskies.whiskies.length < discountedWhiskies.totalResults"
                                ng-click="discountedMoreWhiskies()">({{discountedWhiskies.whiskies.length}} out of
                            {{discountedWhiskies.totalResults}}) Show more...
                        </button>
                        <h4 style="text-align: center" ng-show="!busyC && !discountedWhiskies.whiskies.length">--- nothing here ---</h4>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="recentWhiskies.length">
            <div class="card" style="border: 0">
                <button id="recentViewsBtn" class="btn btn-outline-dark slim collapsed" type="button" data-toggle="collapse" data-target="#recentViews"
                        aria-expanded="false"
                        aria-controls="recentViews">
                    <span class="text-left"><span class="if-collapsed">Show</span><span class="if-not-collapsed">Hide</span> recent picks</span>
                </button>
                <div id="recentViews" class="panel-collapse collapse in list-group align-items-center">
                    <ul class="list-unstyled row">
                        <whisky-row
                                ng-repeat="w in recentWhiskies"
                                class="col-12"
                                ng-class="favWhisky.id === w.id ? 'list-group-item list-group-item-info' : 'list-group-item'"
                                whisky="w" sel-whisky="favWhisky"
                                on-click="selectFavWhisky(w)"
                                to-show="volume,price,type">
                        </whisky-row>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>

<div ng-show="!busy && !message" id="favWhiskyInfo" class="align-items-center" ng-if="favWhisky">
    <div class="card card-body col-lg-6 mx-auto">
        <div class="list-group align-items-center">
            <whisky-row
                    class="col-12 list-group-item btn btn-outline-primary justify-content-start"
                    whisky="favWhisky"
                    available="favWhisky.available"
                    on-click="showWhisky(favWhisky)"
                    to-show="volume,price,type"
                    large="true">
            </whisky-row>
        </div>
        <p>{{favWhisky.description}}</p>
        <div id="barDiv">
            <canvas ng-if="favWhisky.flavorProfile" id="bar" class="chart chart-bar"
                    ng-style="fpStyle"
                    chart-options="fpOptions" chart-colors="fpColors" chart-data="fpData" chart-labels="fpLabels">
            </canvas>
        </div>
        <!--<h4 ng-if="!busyW && !favWhisky.flavorProfile">Sorry, we do not have Flavor Profile for this Whisky yet. :-(</h4>-->
        <h4 ng-if="busyW">Loading...</h4>
    </div>
</div>

<div ng-show="!busy && !message" id="similarWhiskies" class="align-items-center">
    <div class="card card-body col-lg-6 mx-auto" ng-if="similarWhiskies.length && favWhisky">
    <h3 style="text-align: center" ng-show="similarWhiskies.length && favWhisky">
        You may also like:
    </h3>
        <span style="text-align: right">Sorted: <i>most similar first</i></span>
        <div class="list-group align-items-center">
            <a href="" ng-click="showWhisky(wd.candidate)" ng-class="wd.candidate.id == selectedWhisky.id ? 'list-group-item list-group-item-info' : 'list-group-item'" style="width: 100%; margin-top: auto; margin-bottom: auto;" ng-repeat="wd in similarWhiskies | limitTo: dispQuantity">
                <div class="d-flex justify-content-between" style="margin-top: auto; margin-bottom: auto;">
                <span class="justify-content-start" style="margin-top: auto; margin-bottom: auto;"><whisky-row whisky="wd.candidate" sel-whisky="selWhisky" available="wd.available"></whisky-row></span>
                <span class="justify-content-end" style="margin-top: auto; margin-bottom: auto; white-space: nowrap;"> - <b><i>{{wd.maxDiffFlavor}}</i></b></span>
                </div>
            </a>
        </div>
        <button class="btn btn-outline-info more-btn" style="width: 100%" type="button"
                ng-show="dispQuantity < similarWhiskies.length" ng-click="showMoreCandidates()">({{dispQuantity}} out of {{similarWhiskies.length}}) Show more...
        </button>
    </div>
    <!--<h4 style="text-align: center" ng-if="!similarWhiskies.length && favWhisky">Nothing tastes similar :-(</h4>-->
</div>

<br/>

<div ng-show="!busy && !message" id="selFavStores" class="align-items-center">
    <div class="card card-body col-lg-6 mx-auto">
        <div style="text-align:center">
            <button ng-class="preferences && favStores.length ? 'btn btn-outline-info collapsed' : 'btn btn-primary collapsed'" type="button" data-toggle="collapse" data-target="#favStores"
                    aria-expanded="false"
                    aria-controls="favStores">
                <span class="if-collapsed ">Select</span><span class="if-not-collapsed">Hide</span> your preferred NB Liquor stores
            </button>
        </div>
        <div id="favStores" class="panel-collapse collapse in card card-body">
            <div class="text-center">
                <button ng-class="preferences && favStores.length ? 'btn btn-outline-info' : 'btn btn-info'" ng-click="captureUserLocation()">
                    <span ng-show="!busyLoc">Find nearby stores</span>
                    <h6 ng-show="busyLoc">Looking around...</h6>
                </button>
            </div>
            <div class="row">
                <ul class="col-6" ng-repeat="(city, stores) in allStores | orderBy:'city' | groupBy: 'city'">
                    <b>{{city}}</b>
                    <li ng-repeat="s in stores">
                        <input type="checkbox"
                               name="selectedStores"
                               value="{{s.address}}"
                               ng-checked="favStores.indexOf(s) >= 0"
                               ng-click="toggleStoreSelection(s)"
                        >
                        {{s.address}}
                    </li>
                    <h6 ng-hide="allStores.length > 0">--- no data ---</h6>
                </ul>
            </div>
        </div>
        <div ng-if="preferences && favStores.length" class="card card-body" style="text-align: center">
        <span>{{favStores.length}} store(s) selected in <span ng-bind-html="favStoresCities"></span>, only their inventory will
            be considered.</span>
        </div>
        <div ng-if="preferences && !favStores.length" class="card card-body" style="text-align: center">
            No preferred stores selected, all available inventory will be considered.
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="selectedWhiskyModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="selectedWhiskyModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span><h5 class="modal-title" id="title">{{selectedWhisky.name}}</h5>
                    <h6 class="modal-title" id="subTitle">{{selectedWhisky.type}}, {{selectedWhisky.region ? (selectedWhisky.region + ', ') : ''}} {{selectedWhisky.country}}</h6></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h6 class="col-6">{{selectedWhisky.flavorProfile.caskType ? ('Cask: ' +
                        selectedWhisky.flavorProfile.caskType) : ''}}</h6>
                    <h6 class="col-6"><span class="float-right">{{selectedWhisky.alcoholContent ? ('ABV: ' +
                        selectedWhisky.alcoholContent.toFixed(1)) : ''}}</span></h6>
                </div>
                <div class="row">
                    <div class="col-5" style="padding-left: 0.25rem; padding-right: 0.25rem">
                        <a ng-if="selectedWhisky.thumbnailUrl" href="{{selectedWhisky.thumbnailUrl}}"
                           data-toggle="lightbox" data-title="{{selectedWhisky.name}}" data-width="400" data-height="600">
                            <img style="float: left; max-width: 100%" ng-src="{{selectedWhisky.thumbnailUrl}}">
                        </a>
                        <p class="text-center lead" ng-show="selectedWhisky.unitVolumeMl">
                            <span ng-if="selectedWhisky.qtyPerContainer > 1">{{selectedWhisky.qtyPerContainer}}X</span>
                            {{selectedWhisky.unitVolumeMl}}ml
                        </p>
                        <p class="text-center lead" ng-show="selectedWhisky.unitPrice"><strong>
                            {{selectedWhisky.unitPrice | currency}}</strong>
                        <small ng-show="selectedWhisky.beforeDiscountPrice" class="discount">
                            {{selectedWhisky.beforeDiscountPrice | currency}}</small></p>
                    </div>
                    <div class="col-7" style="padding-left: 0.25rem; padding-right: 0.25rem">
                        {{selectedWhisky.description}}
                    </div>
                </div>
                <div class="row">
                    <div id="chartDiv" class="col-12 align-items-center mx-auto">
                        <canvas ng-if="!busySW && selectedWhisky.flavorProfile && selectedWhisky.id !== favWhisky.id && selFpData" id="selBar"
                                class="chart chart-bar"
                                ng-style="selFpStyle"
                                chart-options="selFpOptions" chart-colors="selFpColors" chart-data="selFpData"
                                chart-labels="selFpLabels" chart-series="selFpSeries">
                        </canvas>
                        <canvas ng-if="!busySW && selectedWhisky.flavorProfile && selectedWhisky.id === favWhisky.id && fpData" id="favBar"
                                class="chart chart-bar"
                                ng-style="selFpStyle"
                                chart-options="fpOptions" chart-colors="fpColors" chart-data="fpData"
                                chart-labels="fpLabels">
                        </canvas>
                        <!--<h4 ng-if="!busySW && !selectedWhisky.flavorProfile">Sorry, we do not have Flavor Profile for this Whisky yet. :-(</h4>-->
                        <h4 ng-if="busySW">Loading...</h4>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a href="" data-toggle="tooltip" title="Link copied" ng-click="copyToClipboard(selectedWhiskySpiritedUrl)">
                        <img src="img/clipboard.png" border="0" alt="Share product link"></a>
                    <div class="sharethis-inline-share-buttons" style="display: inline-block"
                         data-url="{{selectedWhiskySpiritedUrl}}"
                         data-title="Found on spiritsearch.ca: {{selectedWhisky.name}}"
                         data-image="{{selectedWhisky.thumbnailUrl}}"
                         data-description="{{selectedWhiskySpiritedName}}"></div>
                </div>
                <div class="row">
                    <div class="col-12 align-items-center mx-auto">
                        <hr/>
                        <div ng-show="!busySW && selectedAvailableQty.length">
                            <h5 class="text-center">Available at:</h5>
                            <table width="100%" border="0" ng-if="selectedAvailableQty.length">
                                <thead>
                                <tr>
                                    <th>Store</th>
                                    <th>Address</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="wq in selectedAvailableQty | orderBy:'name'">
                                    <td style="border-top: 1px solid #cdd0d4;">{{wq.name}}</td>
                                    <td style="border-top: 1px solid #cdd0d4;"><address-link address="{{wq.address}}, {{wq.city}}"></address-link></td>
                                    <td style="border-top: 1px solid #cdd0d4;" align="center">{{wq.quantity}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <h5 class="text-center" ng-show="!busySW && !selectedAvailableQty.length">Not available in selected store(s) :-(</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<br/>

<div ng-show="(!busy || paramFooter) && !message" class="card card-body col-lg-6 mx-auto">
    <div class="row" style="padding: 0.05rem;">
        <div class="align-items-lg-start">
            <button class="btn btn-outline-dark slim collapsed" type="button" data-toggle="collapse" data-target="#infoDiv"
                    aria-expanded="false"
                    aria-controls="infoDiv">
                <span><span class="if-collapsed ">More</span><span class="if-not-collapsed">Less</span> info</span>
            </button>
        </div>
        <div class="card-body slim text-center" style="margin: auto; white-space: nowrap;">
                <h6 style="margin: auto;"><a href="http://onelink.to/myhrkb" target="_blank">SpiritedApp
                    <a href="https://apps.apple.com/us/app/spiritedapp/id1479304841" target="_blank">
                        <img width="24" height="24" src="img/apple.png" border="0" alt="iOS"></a>
                    <a href="https://play.google.com/store/apps/details?id=org.maggus.spirit" target="_blank">
                        <img width="24" height="24" src="img/android.png" border="0" alt="Android"></a>
                </a></h6>
        </div>
        <div class="align-items-lg-end">
            <button class="btn btn-outline-warning slim" type="reset" ng-click="clearPrefs()">
                Start Over
            </button>
        </div>
    </div>
    <div class="row">
        <div id="infoDiv" class="panel-collapse collapse in card card-body" style="padding: 0.25rem">
            <div class="text-center">
                <h5>Scan the barcode to download our mobile app <a href="http://onelink.to/myhrkb" target="_blank">SpiritedApp</a></h5>
            </div>
            <div class="text-center">
                <img class="qr-code" src="img/qrcode_onelink.png">
            </div>
            <div class="text-center">
                <a id="dono" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=ma99us@gmail.com&lc=CA&item_name=
        Donation+to+support+SpiritedApp+and+spiritsearch.ca+development&no_note=0&cn=&currency_code=CAD&bn=PP-DonationsBF:btn_donateCC_LG.gif:NonHosted"
                   class="btn btn-info" role="button" target="_blank">
                    <div style="display:inline-block; white-space: nowrap;">
                    <div style="display:inline-block; vertical-align:middle; white-space: initial; width: calc(100% - 80px);">
                        Consider donating to support our work</div>
                    <div style="display:inline-block; vertical-align:middle;">
                        <img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" border="0" alt="PayPal Logo">
                    </div>
                    </div>
                </a>
            </div>
            <div class="text-center">
                <a href="#/legal"><h5>Privacy Policy</h5></a>
            </div>
            <div ng-show="cacheStatus" class="text-center">
                Data updated at {{cacheStatus.cacheLastUpdatedMs | date:'yyyy/MM/dd HH:mm'}}
                <span ng-show="cacheStatus.country"> <br> Found {{cacheStatus.country}} Spirits</span>
            </div>
        </div>
    </div>
</div>
<br/>