<div ng-if="!large"
     style="display:inline-block; white-space: nowrap; margin-top: auto; margin-bottom: auto; width: 100%;">
    <a href="" ng-click="onClick({w: whisky})">
        <div style="display:inline-block; vertical-align:middle;">
            <img ng-if="whisky.thumbnailUrl" ng-src="{{whisky.thumbnailUrl}}"
                 style="max-width: 40px; max-height: 60px;">
        </div>
        <div style="display:inline-block; vertical-align:middle; white-space: initial; width: calc(100% - 40px);">
            <span ng-if="whisky.type && toShow.includes('type')" class="text-info top-note" ng-style="rowStyle">{{whisky.type}}<br/></span>
            <span ng-style="rowStyle"><b>{{whisky.name}}</b></span>
            <span ng-if="whisky.unitVolumeMl && toShow.includes('volume')" ng-style="rowStyle"><i><span ng-if="whisky.qtyPerContainer > 1">{{whisky.qtyPerContainer}}X</span>{{whisky.unitVolumeMl}}ml</i></span>
            <span ng-if="whisky.unitPrice && toShow.includes('price')" ng-style="rowStyle"> - {{whisky.unitPrice | currency}}</span>
            <span ng-if="whisky.beforeDiscountPrice && toShow.includes('price')" class="discount" ng-style="rowStyle"> - {{whisky.beforeDiscountPrice | currency}}</span>
            <span ng-if="available && toShow.includes('available')" class="text-info" ng-style="rowStyle"> - available</span>
        </div>
    </a>
</div>
<div ng-if="large"
     style="display:inline-block; white-space: nowrap; margin-top: auto; margin-bottom: auto; width: 100%;">
    <a href="" ng-click="onClick({w: whisky})">
        <div style="display:inline-block; vertical-align:middle;">
            <img ng-if="whisky.thumbnailUrl" ng-src="{{whisky.thumbnailUrl}}"
                 style="max-width: 80px; max-height: 120px;">
        </div>
        <div style="display:inline-block; vertical-align:middle; white-space: initial; width: calc(100% - 80px);">
            <span ng-if="whisky.type && toShow.includes('type')" class="text-info top-note" ng-style="rowStyle">{{whisky.type}}<br/></span>
            <span ng-style="rowStyle"><b>{{whisky.name}}</b><br/></span>
            <span ng-if="whisky.unitVolumeMl && toShow.includes('volume')" ng-style="rowStyle"><i><span ng-if="whisky.qtyPerContainer > 1">{{whisky.qtyPerContainer}}X</span>{{whisky.unitVolumeMl}}ml</i></span>
            <span ng-if="whisky.unitPrice && toShow.includes('price')" ng-style="rowStyle"> - {{whisky.unitPrice | currency}}</span>
            <span ng-if="whisky.beforeDiscountPrice && toShow.includes('price')" class="discount" ng-style="rowStyle"> - {{whisky.beforeDiscountPrice | currency}}</span>
            <span ng-if="available && toShow.includes('available')" class="text-info" ng-style="rowStyle"><br/> available</span>
        </div>
    </a>
</div>
