<h1 style="text-align: center">API Data</h1>
<h3 ng-show="busy" style="text-align: center">Please wait...</h3>
<p style="color:orangered; font-weight:bold;">{{message}}</p>

<div>
    <button ng-disabled="busy" ng-click="rebuildAllCache()">REBUILD ALL DATA!</button>
        <span ng-show="cacheStatus"> | Cache last updated at {{cacheStatus.cacheLastUpdatedMs | date:'yyyy/MM/dd  hh:mm:ss'}} in {{(cacheStatus.cacheSpentMs/1000).toFixed(1)}} secs </span>
        <span ng-show="lastRebuildTs"> | Rebuilt in {{lastRebuildTs}} secs </span>
        <span ng-show="cacheStatus.country && cacheStatus.region"> | {{cacheStatus.country}} Products, {{cacheStatus.region}} with Flavor Profiles</span>
</div>

<p align="right">
    <span ng-show="lastQueryTs"> Queried in {{lastQueryTs}}ms </span><button ng-disabled="busy" ng-click="getAllWhiskies()">Refresh</button>
</p>

<h3>Whisky list</h3>
<p>
    Fuzzy Search: <input type="text" ng-model="searchTxt" placeholder="search whisky" />
<ul>
    <li ng-repeat="w in filteredWhisky = (whisky | fuzzyBy: 'name': search)">
        <whisky-row whisky="w" sel-whisky="selWhisky" ng-click="selectWhisky(w)"></whisky-row> - <button ng-click="deleteWhisky(w)">X</button>
    </li>
    <p ng-hide="filteredWhisky.length">--- no data ---</p>
</ul>
</p>

<p><pagination results-per-page="resultsPerPage" page-number="pageNumber" total-results="totalResults" callback="onPageChange(page)"></pagination>
    <a href="" ng-click="toggleResultsPerPage()">resultsPerPage={{resultsPerPage}}</a>,
    <a href="" ng-click="toggleSortBy()">sortBy={{sortBy}}</a>, totalResults={{totalResults}} </p>

<!--<p><label>Add new name</label><input id="name" type="text" dl-enter-key="addTitle(newWhisky)" ng-model="newWhisky"/> <button ng-click="addTitle(newWhisky)">Add</button><button style="float: right;" ng-click="clearAllWhisky()">CLEAR ALL DATA!</button></p>-->

<h3>Modify selected whisky or Add a new one</h3>
<whisky-details sel-whisky="selWhisky" editable="true"></whisky-details>

<p style="padding-left: 3em">
 <button ng-show="selWhisky" ng-disabled="busySimilarW" ng-click="getSimilarWhiskies(selWhisky)">Suggest Similar Whiskies</button>
<ul>
    <h3 ng-show="similarWhiskies && similarWhiskies.length > 0">Similar tasting whiskies:</h3>
    <p ng-show="similarWhiskies.length == 0">Nothing tastes similar :-(</p>
 <li ng-repeat="wd in similarWhiskies">
     <whisky-row whisky="wd.candidate" sel-whisky="selWhisky" ng-click="selectWhisky(wd.candidate)"></whisky-row> - <b><i>{{wd.maxDiffFlavor}}</i></b>
 </li>
</ul>
</p>

<hr/>

<div>
    <h2>Available API Endpoints</h2>
    <h3>Whisky actions</h3>
    <p><b>Current host:</b> http://ghost.gerdov.com:8181/Spirited</p>
    <p><b>GET</b> <b>/api/whisky/</b>        ->      Response getAllWhiskies(int, int, String) - <i>parameters: 'Results Per Page', 'Page Number', 'Sort By'.</i> Returns list of Whisky objects</p>
    <p><b>GET</b> <b>/api/whisky/{id}</b>    ->      Response getWhisky(long) - <i>parameters: Item 'Id'.</i> Returns single Whisky object.</p>
    <p><b>PUT</b> <b>/api/whisky/</b>        ->      Response createWhisky(Whisky) - <i>parameters: populated 'Whisky' object.</i> Creates a new Whisky object in DB.</p>
    <p><b>POST</b> <b>/api/whisky/{id}</b>    ->      Response updateWhisky(long, Whisky) - <i>parameters: Item 'Id', populated 'Whisky' object.</i> Updates single Whisky object in DB.</p>
    <p><b>DELETE</b> <b>/api/whisky/{id}</b>    ->      Response deleteWhisky(long) - <i>parameters: Item 'Id'.</i> Deletes single Whisky from DB.</p>
    <p><b>GET</b> <b>/api/whisky/similar/{id}</b>    ->      Response getSimilarWhisky(long) - <i>parameters: Item 'Id'.</i> Returns list of Whisky objects with similar Flavor Profiles to given one.</p>
    <p><b>GET</b> <b>/api/whisky/code/{code}</b>    ->      Response findWhiskyByCode(String) - <i>parameters: Item 'Product Code'.</i> Returns single Whisky object if found.</p>
    <h3>Cache maintenance</h3>
    <p><b>GET</b> <b>/api/cache/status</b> ->      Response cacheStatus() - <i>Returns some information and statistics about last time cached data was re-built.</i></p>
    <p><b>GET</b> <b>/api/cache/rebuild</b> ->      Response rebuildAllCachedData() - <i>Clears and re-caches all data from third parties. Long operation, could take several minutes!</i></p>

</div>