<div>
    <img style="float: left; max-width: 400px; max-height: 600px;" ng-if="whisky.thumbnailUrl" ng-src="{{whisky.thumbnailUrl}}">
    <div>
    <form ng-model="whisky">
        <label>Id:</label><input readonly id="id" type="number" ng-model="whisky.id"/>
        <p style="font-weight:bold;"><label>Name:</label><input ng-readonly="!editable" id="name" type="text" size="30" dl-enter-key="onEnter(whisky)" ng-model="whisky.name"/></p>
        <p><label>Type:</label>
            <select ng-readonly="!editable" id="typeSelect" name="type" ng-model="whisky.type">
                <option value="Single malt">Single malt</option>
                <option value="Blended">Blended</option>
            </select>
        </p>
        <p><label>Country:</label><input ng-readonly="!editable" id="country" type="text" dl-enter-key="onEnter(whisky)"
                                     ng-model="whisky.country"/></p>
        <p><label>Region:</label><input ng-readonly="!editable" id="region" type="text" dl-enter-key="onEnter(whisky)" ng-model="whisky.region"/></p>
        <p><label>Price:</label><input ng-readonly="!editable" id="unitPrice" type="number" min="0" step=".01" dl-enter-key="onEnter(whisky)"
                                        ng-model="whisky.unitPrice"/>CAD</p>
        <p><label>Volume:</label><input ng-readonly="!editable" id="unitVolumeMl" type="number" dl-enter-key="onEnter(whisky)"
                                       ng-model="whisky.unitVolumeMl"/>ml</p>
        <p><label>Alcohol Content:</label><input ng-readonly="!editable" id="alcoholContent" type="number" min="0" step=".01" dl-enter-key="onEnter(whisky)"
                                        ng-model="whisky.alcoholContent"/>%</p>
        <p><label>Description:</label><textarea ng-readonly="!editable" id="description" dl-enter-key="onEnter(whisky)"
                                                ng-model="whisky.description" rows="5" cols="50"></textarea></p>
        <p><label>Thumbnail URL:</label><input ng-readonly="!editable" size="50" id="thumbnailUrl" type="url" dl-enter-key="onEnter(whisky)" ng-model="whisky.thumbnailUrl"/></p>
        <p ng-if="whisky.cacheExternalUrl">More details: <a id="anblUrl" href="{{whisky.cacheExternalUrl}}" target="_blank">Go to ANBL product page</a> <span ng-show="whisky.anblProdCode"> - Product Code: {{whisky.anblProdCode}}</span></p>

        <p><button ng-if="updatable && editable" ng-click="submit(whisky)">Update</button>
        <button ng-if="!updatable && editable" ng-click="submit(whisky)">Add</button>
        <button ng-if="editable" ng-click="clear()">Clear</button></p>
    </form>
    </div>
</div>