/* app css stylesheet */

body:after {
    content: "";
    position: fixed; /* stretch a fixed position to the whole screen */
    overflow-y: scroll;
    top: 0;
    height: 100vh; /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1; /* needed to keep in the background */
    background: url(../img/promo_graphics.jpg) top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #dcd1cb;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

ul.stores {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

p.footnote {
  position: absolute;
  bottom: 10px;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.contrast {
    color: #cbd5dc;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

input[type=search]::-webkit-search-cancel-button {
    /* not working because of iOS bug */
    -webkit-appearance: searchfield-cancel-button;
}

.no-h-padding {
    padding-left: 0px;
    padding-right: 0px;
}