/* app css stylesheet */

body:after {
    content: "";
    position: fixed; /* stretch a fixed position to the whole screen */
    overflow-y: scroll;
    top: 0;
    height: 100vh; /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1; /* needed to keep in the background */
    background: url(../img/promo_graphics.jpg) top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #dcd1cb;
}

ul.stores {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

p.footnote {
  position: absolute;
  bottom: 10px;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.contrast {
    color: #cbd5dc;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

input[type=search]::-webkit-search-cancel-button {
    /* not working because of iOS bug */
    -webkit-appearance: searchfield-cancel-button;
}

.no-h-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.up {
    width: 0px;
    height: 0px;
    border-bottom: 10px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: none;
}
.mid {
    margin-left:7px;
    width: 2px;
    height: 180px;
    background-color:black;
}
.down{
    width: 0px;
    height: 0px;
    border-top: 10px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: none;
}
.top-note {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: x-small;
}
.list-group-item {
    padding: 0.25rem 0.5rem;
}