<span>Sort by:
<button type="button" ng-class="(sortBy === 'name' || sortBy === '-name') ? 'btn btn-dark slim' : 'btn btn-outline-dark slim'"
        ng-click="onSortBy('name')">
    <span ng-show="sortBy === 'name'">&#9650;</span>
    <span ng-show="sortBy === '-name'">&#9660;</span>
    Name
</button>
 |
<button type="button" ng-class="(sortBy === 'price' || sortBy === '-price') ? 'btn btn-dark slim' : 'btn btn-outline-dark slim'"
        ng-click="onSortBy('price')">
    <span ng-show="sortBy === 'price'">&#9650;</span>
    <span ng-show="sortBy === '-price'">&#9660;</span>
    Price
</button>
</span>
