/* app css stylesheet */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #dcd1cb;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform: uppercase;
    width: 100%;
}

ul.stores {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

p.footnote {
    position: absolute;
    bottom: 10px;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}

.background {
    background-size: 100%;
    background-repeat: repeat-x;
    background-position: left top;
    background-attachment: fixed;
    background-image: url(../img/promo_graphics.jpg);
    background-color: #dcd1cb;
}

.contrast {
    color: #cbd5dc;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

input[type=search]::-webkit-search-cancel-button {
    /* not working because of iOS bug */
    -webkit-appearance: searchfield-cancel-button;
}

.no-h-padding {
    padding-left: 0px;
    padding-right: 0px;
}